# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules

# Next.js
.next/
out/
next-env.d.ts

# Production
dist
build
*.tsbuildinfo

# Misc
*.local
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?